#container{
    position: relative;
    display: flex;
    align-items: center;
    &.selecc::before{
        position: absolute;
        content: "";
        width: calc(100% + 10px);
        height: 120%;
        left: -5px;
        background-color: #d9ff0062;
        border-radius: 15px;
    }
    
    .flecha{
        position: absolute;
        height: 30px;
        padding-right: 10px;
    }
}



#tarjeta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0d6;
    border-radius: 25px 5px 5px 25px;
    width: 89%;
    font-size: large;
    padding: 10px;
    margin-left: 35px;
    &.selecc{
        background-color: #6ef445;
        box-shadow: inset 0px 0px 7px 4px #fcea68;
    }

    .poke{
        height: 50px;
    }

    div{
        width: 30px;
        height: 30px;
        background-color: #7979794b;
        border-radius: 50%;
    
    
}
}