<main id="container">
    <app-detalle
    [pokemon]="pokemonSeleccionado"
    (clicked)="cambiarEstado()"
    [abierto]="detalle"
    [ngClass]="{abierto: detalle}"
    ></app-detalle>
    <app-foto-pokemon id="fotopoke"
        [pokemon]="pokemonSeleccionado"
        [ngClass]="{abierto: detalle}"
        ></app-foto-pokemon>  
    <div id="tarjetacontainer" #tarjetas (scroll)="onScroll($event)">
        <app-tarjeta-pokemon *ngFor="let pokemon of listacompleta" [data]="pokemon"
        [selecc] = "pokemon.name === pokemonSeleccionado?.name"    
        (selec)="tarjetaSeleccionada($event)">
        </app-tarjeta-pokemon>
    </div>  

</main>

