#container{
    display: grid;
    grid-template-columns: 1fr 60px;
}


.datos{
    height: 550px;
    width: 90vw;
    background-color: #d8d8d4;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;

    .area:first-child{
        flex-grow: 1;
        background-color: #0bd2e086;
    }

    .area{
        padding-left: 50%;
        background-color: #948143a9;
        p{
            margin: 10px 10px;
        }
    }

    .area:last-child{
        background-color: #7e878886;
    }
    p{
        margin: 20px 10px;
    }
    
}

.descontainer{
    width: 90%;
    height: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    background-color: #d8d8d4;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    div{
        margin: 8px;
        background-color: #b6b678;
        &:first-child{
            border-radius: 0 8px 8px 0;
            -webkit-border-radius: 0 8px 8px 0;
            -moz-border-radius: 0 8px 8px 0;
            -ms-border-radius: 0 8px 8px 0;
            -o-border-radius: 0 8px 8px 0;
        }
        &:last-child{
            border-radius: 8px 0 0 8px;
            -webkit-border-radius: 8px 0 0 8px;
            -moz-border-radius: 8px 0 0 8px;
            -ms-border-radius: 8px 0 0 8px;
            -o-border-radius: 8px 0 0 8px;
        }
    }
    
}

.etiqueta{
    display: inline-block;
    width: 100px;
    background-color: aqua;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid black;
    color: #d8d8d4;
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.tipo{
    background-color: #8d8d8d;
    padding: 15px 30px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    color: #d8d8d4;
}

button{
    background-color: #616139;
    border: none;
    border-radius:0 25px 25px 0;
    img{
        height: 50px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition-timing-function: ease-in-out;
        &.girar{
            rotate: 180deg;
        }
        &:hover{
            scale: 1.1;
        }
    }
}

#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.378);
    z-index: -1;
    opacity: 1;
    &.escondido{
        pointer-events: none;
        opacity: 0;
    }
}