<div id="backdrop" [ngClass]="{escondido: !abierto}" (click)="clicked.emit()"></div>
<div id="container">
    <div class="datos">
    <div class="area">
        <app-tarjeta-pokemon
        [fullData]="pokemon">            
        </app-tarjeta-pokemon>
    </div>
    <div class="area">
        <div class="caacteristica">
        <p><span class="etiqueta">Tipo</span> <span class="tipo" *ngFor="let tipo of pokemon?.types">{{tipo.type.name}}</span> </p>
        <p><span class="etiqueta">Altura</span>{{pokemon?.height}}"</p>
        <p><span class="etiqueta">Peso</span>{{pokemon?.weight}}Lbs.</p>
    </div>
    </div>
    <div class="area">
        <div class="descontainer">
            <div></div>
            <p>{{descripcion}}</p>
            <div></div>
        </div>
    </div>
</div>
    <button (click)="clicked.emit()">
        <img src="./../../../assets/img/play-button.svg" [ngClass]="{girar: abierto}">
    </button>
</div>
