#container{
    height: 550px;
    width: 95vw;
    background-color: #d8d8d4;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;

    .area:first-child{
        flex-grow: 1;
        background-color: #0bd2e086;
    }

    .area{
        padding-left: 50%;
        background-color: #948143a9;
        
    }

    .area:last-child{
        background-color: #7e878886;
    }
}

.descontainer{
    width: 90%;
    height: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    background-color: #d8d8d4;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    div{
        margin: 8px;
        background-color: #b6b678;
        &:first-child{
            border-radius: 0 8px 8px 0;
            -webkit-border-radius: 0 8px 8px 0;
            -moz-border-radius: 0 8px 8px 0;
            -ms-border-radius: 0 8px 8px 0;
            -o-border-radius: 0 8px 8px 0;
        }
        &:last-child{
            border-radius: 8px 0 0 8px;
            -webkit-border-radius: 8px 0 0 8px;
            -moz-border-radius: 8px 0 0 8px;
            -ms-border-radius: 8px 0 0 8px;
            -o-border-radius: 8px 0 0 8px;
        }
    }
    p{
        margin-top: 30px;
    }   
}

.etiqueta{
    display: inline-block;
    width: 100px;
    background-color: aqua;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid black;
    color: #d8d8d4;
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.tipo{
    background-color: #8d8d8d;
    padding: 15px 30px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    color: #d8d8d4;
}